@charset "UTF-8";
#span{
	width : 120px;
	margin: auto;
}

.userName{
	font-weight : bold;
}

.reviewWrap{
	max-width : 1390px;
	margin: 0 auto;
	min-width : 1080px;
}


/***notedetail***/

.fa-solid {
    padding-right: 5px;
}

.filter_box {
    display: flex;
    /* padding-top: 20px;
    margin-bottom: 15px; */
    margin-left: 135px;
    margin-right :135px;
}

.back {
    margin:auto;
}

.write_box {
    margin-left: 80%;
}

.write_btn {
    width: 110px; height: 40px;
    background: #1c1c1c;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    visibility : hidden;
}

.write_btn:hover {
    background: #5b5b5b;
}

.list_box {
    display: block;
}

.content {
    display: flex;
    justify-content: center;
}

.scrap {
    width: 10%;
    /* text-align: center; */
    margin-right : 30px;
}

.summary {
    /* width: 90%; */
    text-align: left;
}

.like {
    padding-bottom: 5px;
}

.title {
    font-weight: bold;
    font-size: 20px;
   /*  padding-bottom: 20px; */
}

.title a {
    color: black;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
}

.content-body {
	/* min-height : 800px; */
    color: black;
    padding-bottom: 10px;
    /* border : solid 1px red; */
   	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    margin-right : 600px;
    /* width : 98%; */
    padding : 40px;
    width : 1270px;
    margin : 0 auto;
}

.infoBox {
	 display: flex;
	 justify-content:space-between;
	 align-items: center;
}

.info {
    margin-bottom: 20px;
    
}

.comment-write{
	display : block;
    margin-top:20px;
}

.comment-write input{
    margin-top:10px;
    width: 110px;
    height: 40px;
   /*  background: #1c1c1c;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer; */
}

#reviewComment:focus{
	outline: none;
}

.post:hover {
    background: #fff;
}

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.comment-num {
    margin-top:20px;
}

.comment {
    display: flex;
    margin-top:20px;
    margin-bottom:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 98%;
}

.comment-scrap {
    width: 7%;
    text-align: center;
}

.comment-summary {
    width: 93%;
    text-align: left;
}

.fa-heart {
    cursor: pointer;
}

#back:hover {
    color: #5b5b5b;
    cursor: pointer;
}

.deleteBtn {
	margin-right:20px;
}

/***notedetail***/

/***join.css***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    max-width : 1390px;
	margin: 0 auto;
	min-width : 1080px;
} */

#joinPage {
	font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color : #fff;
    background-size: cover;
    
    height : 845px;
}

/* body::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.login-form {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 40px 25px 40px 25px;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
	box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
	margin-bottom : 6%;
}

.login-form h1 {
    font-size: 32px;
    color: #202020;
    text-align: center;
    height : 50px;
}

.int-area {
    width: 400px;
    padding-bottom: 10px;
    position: relative;
    margin-top : 10px;
}

.int-area:first-child {
    margin-top: 0;
}

.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #000;
    outline: none;
    
    -webkit-box-shadow: 0 0 0px 1000px #F3F4F6 inset;
}

.int-area label {
    cursor: text;
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 15px;
    color: #999;
    transition: top .5s ease;
}

.int-area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {
        transform: translateX(-8px);
    }
    25% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-8px);
    }
    75% {
        transform: translateX(8px);
    }
}

.int-area input:focus + label,
.int-area input:valid + label {
    top: 0;
    font-size: 13px;
    color: #6B7280;
}

.btn-area {
    margin-top: 10px;
}

/* .btn-area input {
    width: 100%;
    height: 50px;
    background: black;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
} */

.btn-area input:hover {
    background: #f3f4f6;
}

.show {
    position: absolute;
    left: 370px;
    top: 20px;
    font-size: 15px;
    color: #999;
    cursor: pointer;
}

.check {
    position: absolute;
    left: 370px;
    top: 20px;
    font-size: 15px;
    color: #999;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    text-align: center;
}

.caption a {
    font-size: 15px;
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
 
.sns {
    text-align: center;
    margin-top: 20px;
    
	display: flex;
	flex-wrap: wrap;
	width : 35%;
	margin-left : 33%;
}

.sns > ul > li img {
    height: 30px;
    width :	30px;
}

.sns > ul > li {
	list-style: none;
	float : left;
	margin-left : 10px;
}

.container {
    width: 100%;
    margin: 10px auto;
    margin-bottom : 50px;
}

.progressbar {
    counter-reset: step;
    /* border : 1px green solid; */
    height : 140px;
    width : 80%;
    /* padding-left: 5%; */
    /* overflow : auto; */
    /* padding-top : 15px; */
    margin : auto;
    display: flex;
    justify-content: center;
}


.progressbar li {
    list-style-type: none;
    width: 15%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin-bottom : 30px;
    font-size : 15px;
    font-weight : 700;
    
    /* margin : 0 auto; */
    margin-top : 20px;

}

#progressLine{
	border : 1px blue solid;
	height : 2px;

}

.courseBox:before {
	counter-increment: step 1;
    content: counter(step);
}

#start:before{
	counter-increment: counter 1;
    content: counter(counter);
}

#end:before {
	counter-increment: counter 1;
    content: counter(counter);
}

.progressbar li:before {
    width: 50px;
    height: 50px;
    
    /* counter-reset: step 0;
    counter-increment: step 1;
    content: counter(step); */
    
    /* counter-increment: step;
    content: counter(step); */

    line-height: 50px;
    /* border: 2px solid #D1D5DB; */
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: black;
    color : white;
    
    font-size : 15px;
    font-weight : 700;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
   	background-color: #D1D5DB;
    /* border : solid 3px #D1D5DB; */
    top: 25px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #000;
}

.progressbar li.active:before {
    /* border-color: #55b776; */
    border-color: #000;
}

.progressbar li.active + li:after {
    /* background-color: #55b776; */
    background-color: #000;
    
}

input[type='date']::before {
    content: attr(data-placeholder);
}

input[type='date']:focus::before,
input[type='date']:valid::before {
    display: none;
}

.line {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

.btn-area input{
   outline: 0;
   grid-gap: 8px;
   align-items: center;
   background: 0 0;
   border: 1px solid #000;
   border-radius: 4px;
   cursor: pointer;
   display: inline-flex;
   flex-shrink: 0;
   font-size: 16px;
   gap: 8px;
   justify-content: center;
   line-height: 1.5;
   overflow: hidden;
   padding: 12px 16px;
   text-decoration: none;
   text-overflow: ellipsis;
   transition: all .14s ease-out;
   white-space: nowrap;
   width: 100%;
   }
   
.btn-area input:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}

#reviewDelete:hover {
	background-color : #fc9295;
}
   
.btn-area input:focus-visible{
       outline-offset: 1px;
   }

.gender input[type=radio] {
	background-color : #fff;
	-web-appearance : none;
	-moz-appearance : none;
	margin-left: 16px;
	border : 1px solid #000;
	width : 14px;
	height : 14px;
	border-radius : 100%;
}

.gender input[type=radio]:checked {
	background-color : #000;
	-webkit-appearance : none;
	-moz-appearance : none;
	margin-left : 16px;
	border  : none;
	width : 14px;
	height : 14px;
	border-radius : 100%;
}

.joinTitle{
	font-family: 'establishRetrosansOTF';
}

#id_check{
	margin-right : 10px;
}

/***join.css***/

/***courseDetail***/
@charset "UTF-8";

#courseDetail-wrap {
	height : 100%;
	min-width: 1080px;
	width: 100%;
}

/* header 부분 */

	#header-exhbnTitle ul> li {
		font-size : 15px;
		color : #fff;
	}
	#header-postTitle h1 {
		font-size : 42px;
		font-weight : bold;
		color : #fff;
	}
	#header-postDate ul> li {
		font-size : 15px;
		color : #fff;
	}
	.headerText{
		text-align : center;
		line-height : 60px;
		color : #fff;
	}
	.headerTextBox {
		padding-top : 5%;
		padding-bottom : 5%;
		background-position: 0% 100%;
		background-size: 100%;
		background-attachment:fixed;
		background-repeat: no-repeat;
		position: relative;
		background-blend-mode: multiply;
		background-color: rgba(0, 0, 0, 0.5);
		
		height : 400px;
	}

/* Course Menu*/
	#courseMenu {
		margin: 0 auto;
		margin-top : 30px;
		/* width:1080px; */
		display: flex;
		justify-content: space-between;
		position: relative;
		height : 50px;
		line-height : 50px;
		
		/* margin-left : 135px;
		margin-right : 135px; */
	}
	.toggle {
		margin-top : 0;
		margin-left : 11%;
		/* border : 2px red solid; */
		width : 50%;
		font-size : 22px;
		height : 100%;
	}
	#courseToggle {
		display: flex;
		justify-content: left;
		align-items: start;
		max-height: 50px;
	}

	#toggleText {
		margin-left : 20px;
		height : 2rem;
		line-height : 2rem;
		font-size : 1.2rem;
		font-weight : bold;
	}

	#editCourseBtn-box{
		width:100px;
		height: fit-content;
		padding: 20px;
		text-align: end;
	}

/* tag (조회버전) */
	.tag-box-view {
		margin: 20px 0;
		display: flex;
		padding:10px 0;
		/* border : solid 1px red; */
		/* margin-left : 135px;
		margin-right: 135px; */
	}
	.tag-box-view h3 {
		font-weight: bold;
		display: inline-block;
		margin: auto 0;
		margin-right: 10px;
	}
	.tag-box-view ul {
		display: flex;
	}
	.tag-box-view ul li {
		/* height: 20px; */
		line-height: 20px;
		font-size: 0.8rem;
		color: white;
		font-weight: 300;
		list-style: none;
		margin: 0 4px;
		border-radius: 20px;
		background: #000000;
		padding: 4px 16px 4px 16px;
	}
	#tagMain{
		font-weight : bold;
	}

/**  courseMain **/
#courseMain{
	width: 1080px;
	margin: 20px auto;
}

#courseMainBtn-Box {
	position: absolute;
	right: 0;
	display:flex;
	align-items:center;
	/* border : 1px blue solid; */
}

#editCourseBtn, #like-btn, #deleteBtn_view, #insertBookMarkReview {
    margin-right: 5px;
}

/* course timeline	*/
#course {
	width: 100%;
	height: 100%;
	min-height: 300px;
	display: flex;
	justify-content: space-between;
}

#timeline-container {
	width:60%;
	height: 100%;
	min-height:300px;
	overflow: visible;
}

#timeline-container #timeline-box {
	width:100%;
	border: 1px blue solid;
}

#timeline-container .timeline-course-container {
	width: 100%;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.route-row {
	display: flex;
	height: 84px;
	position: relative;
	justify-content: space-between;
}

.route-row .left-side {
	display: flex;
}

#startPoint, #endPoint {
	display: flex;
	height: 52px;
	float : left;
}




.route-row .line {
	position: absolute;
	height: 2px;
	left: 50px;
	z-index: 0;
	top:0;
	bottom: 0;
	transition:height .1s ease;
	background-color: #dedede;
}
.hiddenLine .line {
	opacity: 0;
}

.route-row .line.down {
	top:50%
}
.route-row .line.up {
	bottom:50%
}

.route-row .left {
	width:92px;
	min-height: 52px;
	max-height: 100px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.route-row .left .dot {
	position: absolute;
	left:51px;
	top:50%;
	transform: translate(-50%,-50%);
	width:12px;
	height: 12px;
	background-color: #000000;
	z-index: 3;
	border-radius: 50%;
}
.route-row .left .mainCourse-dot {
	background: black;
	position: absolute;
	left:29px;
	top:25%;
	/*tansform:translate(-50%,-50%);*/
	width:40px;
	height: 40px;
	border-radius: 50%;
	z-index: 3;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	color: white;
	border: 2px black solid;
}

.route-row .left .subCourse-dot {
	background: white;
	position: absolute;
	border: 2px black solid;
	left:29px;
	top:25%;
	width:40px;
	height: 40px;
	border-radius: 50%;
	z-index: 3;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	color: black;
}

.route-row .content.explain {
	height: 100%;
	align-items: center;
	justify-content: flex-start;
	display: flex;
	overflow: hidden;
	font-size: 0.8rem;
	font-weight: 700;
}
.route-row .content {
	height: 100%;
	align-items: center;
	text-align: left;
	display: flex;
	overflow: hidden;
	line-height: 1.5rem;
	margin:0 15px;
	width: 160px;
	justify-content: left;
}
.memo-box {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	color: rgba(0,0,0,0.4);
	margin-right: 30px;
}

.route-row .content .place-memo-input {
	border: none;
	border-radius: 5px;
	width: 99%;
	min-width: 100px;
	padding: 10px;
	text-align: left;
	font-size: 0.8rem;
	color: rgba(0,0,0,0.5);
}
.place-memo-input:focus {
	outline-color: springgreen;
	outline-width: thick;
}

.where-title {
	font-weight: bold;
	font-size: 1.2rem;
	margin: 2px 0;
}
.address {
	color: #3B3B3B;
}

.siteAddress {
	font-size: 0.8rem;
	color: #5b5b5b;
}

#courseMap{
	justify-self: right;
	width: 35%;
	height: 50%;
	min-height: 400px;
	min-width: 500px;
	background-color : #eeeeee;
}

/* share */
	.share {
		width: 1080px;
		margin: 20px auto;
		text-align: right;
	}
	.share i {
		margin: 5px;
	}

#courseIcon{
	float :left;
	margin: 0 auto;
	height:100%;
	width :10%;
}

#courseDelete{
	float : right;
	margin: 0 auto;
	height:100%;
	width: 8%;
}

#courseEnd{
	width: 20px;
	height: 20px;
	margin:0 auto; 
	margin-top : 90px;
	border-radius:100px;
	background-color : #000;
}

/*courseText*/
#courseText{
	float :left;
	width : 40%;
	height : 100%;
	margin-left : 50px;
}

#exhibitionText {font-size:18px; font-weight : bold;}

#restaurantText {font-size:18px; font-weight : bold;}

#cafeText {font-size:18px; font-weight : bold;}

/* deleteCourse*/

.delete{
	position: absolute;
	width : 40px;
	height: 100%;
	align-items: center;
	right:0;
	display: flex;
	opacity: 0;
 }

.moveHandler {
	margin-left: 0;
	display: flex;
	align-items: center;
}
.moveHandler {
	opacity: 0;
}

.route-row:hover .delete{
	opacity: 0.7;
}

.route-row:hover .moveHandler {
	opacity: 0.7;
}

#deleteRes{
	width : 40px;
	height: 40px;
	text-align : center;
	margin-top :123px;
}

#deleteCafe{
	width : 40px;
	height: 40px;
	text-align : center;
	margin-top :113px;
}

/* search */
#searchMap-container {
	width: 1080px;
	margin:0 auto;
}

#searchCourse{
	height : 150px;
}

#searchCourse ul > li {
	font-size : 25px;
	font-weight : bold;
}

#courseSearch{
	margin-top : 30px;
	border-radius:10px;
	height : 40px;
	width : 50%;
    min-width: 300px;
    padding: 4px 16px;
    border: 2px black solid;
}

#CourseSearchBtn{
	margin-left : 20px;
	height: 52px;
	width : 80px;
}

#CourseSearchBtn {
    appearance: none;
    background-color: #000;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: normal;
    min-height: 0;
    min-width: 0;
    outline: none;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
#CourseSearchBtn:disabled {
    pointer-events: none;
}
#CourseSearchBtn:hover {
    color: #1a1a1a;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
#CourseSearchBtn:active {
    box-shadow: none;
    transform: translateY(0);
}

/**recommendCourse**/
#recommendCourse{
	width : 100%;
	height : 350px;
	margin-bottom : 50px;
	display: flex;
	justify-content: space-around;
}

.courseAdd {
	width : 24%;
	height : 90%;
	background-color : #eeeeee;
} 

.courseAddBtn{
	margin-top : 78%;
	text-align : center;
	width : 98%;
}

.back {
	position: absolute;
	width: 50px;
	left:0;
}

.back i {
	cursor: pointer;
}

.back i:hover {
	cursor: pointer;
	color: #5b5b5b;
}

/*  comment */
#comment {
	border-top: 2px solid black;
	margin-top : 30px;
}

/* 수정모드 input */
.editInput {
	text-align: center;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 12px;
	vertical-align: baseline;
	font-weight: 400;
	line-height: 1.29;
	letter-spacing: .16px;
	border-radius: 0;
	outline: 2px solid transparent;
	outline-offset: -2px;
	border: none;
	border-bottom: 1px solid #8d8d8d;
	background-color: transparent;
	padding: 0 16px;
	transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
}
.editInput:focus{
	border-bottom: dotted 2px #ffffff;
	outline-offset: -2px;
}

#exhbnTitle {
	width: 300px;
}
#courseTitle {
	width: 600px;
}

/* 디테일 */
.headerTextBox .editInput {
	text-align: center;
	min-width: 200px;
	max-width: 60%;
	color: #ffffff;
	height: fit-content;
	padding: 5px;
}

.headerTextBox .post-title {
	font-size: 2.0rem;
	font-weight: 400;
}

/* 자동완성 위치 */
#courseDetailEdit #ui-id-1 {
	left:-1000px;
	max-width: 200px;
}
#ui-id-1 li {
	padding:10px 20px;
	height: 30px;
	text-align: left;
	background-color: white;
}
#ui-id-1 li:hover {
	background-color: black;
	color: white;
}
#ui-id-1 li:focus {
	background-color: black;
	color: white;
}

/***courseDetail***/

.content-all{
	/* border : solid 1px blue; */
	display : inline-block;
	margin-bottom : 30px;
}


.content-img{
	border : solid 1px red;
	width : 200px;
	height : 200px;
}

.username{
	font-size : 18px;
	font-weight : bold;
}

#course{
	border : 1px red solid;
	
}

.timeline-course-container{
	border : 1px blue solid;
}

.timeline-course-container div{
	border : 1px red solid;
}

.route-row .left-side{
	border : solid 1px green;
}


#start::before {
	width : 30px;
	height : 30px;
	color : #000;
	font-size: 5px;
	margin-top : 10px;
} 

#end::before {
	width : 30px;
	height : 30px;
	color : #000;
	font-size: 5px;
	margin-top : 10px;
} 

/** 스크롤바 **/
.progressbar::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.progressbar::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #000; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.progressbar::-webkit-scrollbar-track {
    background: #D1D5DB;  /*스크롤바 뒷 배경 색상*/
     border-radius: 10px;
}

p{
	margin-top: 7px;
}