<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring_boot_final.project.dao.IAitemsDAO">

    <!-- Create -->

    <!-- Read -->

    <select id="selectItems" parameterType="int" resultType="string">
        <![CDATA[
        select exhbnId
        from exhbn
        where exhbnEndDate >= now()
        order by exhbnLike desc
        limit #{num};
        ]]>
    </select>

    <select id="selectExhbn"
            resultType="com.spring_boot_final.project.model.ExhbnVO">
        select *
        from exhbn
        where
        exhbnId in
        <foreach collection="items" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </select>

    <!-- Update -->

    <!-- Delete -->


</mapper>