<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring_boot_final.project.dao.ICourseDAO">

    <!-- read -->
    <select id="selectCourse" resultType="com.spring_boot_final.project.model.CourseVO">
    <![CDATA[
        select * from course
            inner join exhbn on course.exhbnId = exhbn.exhbnId
            inner join user on course.userId = user.userId
        ORDER BY courseId DESC;
        ]]>
    </select>

    <select id="selectCoursePost" parameterType="int" resultType="com.spring_boot_final.project.model.CourseVO">
        <![CDATA[
        select * from course
            inner join exhbn on course.exhbnId = exhbn.exhbnId
            inner join user on course.userId = user.userId
        WHERE courseId=${courseId}
        ]]>
    </select>
    
    <!-- 마이페이지 코스 작성글 조회 -->
    <select id="mpCoursePostSelect" parameterType="string" resultType="com.spring_boot_final.project.model.CourseVO">
        <![CDATA[
        select * 
        from course
        WHERE userId=#{userId}
        ]]>
    </select>
    

    <update id="updateCourse" parameterType="com.spring_boot_final.project.model.CourseVO">
        <![CDATA[
        UPDATE course
        SET exhbnId=#{exhbnId},
            courseTitle=#{courseTitle},
            courseTag=#{courseTag},
            courseState=#{courseState},
            courseSitesArr=#{courseSitesArr},
            courseAddressArr=#{courseAddressArr},
            courseMemoArr=#{courseMemoArr}
        WHERE courseId = #{courseId} AND userId = #{userId}
        ]]>
    </update>

    <delete id="deleteCourse" parameterType="hashmap">
        <![CDATA[
        DELETE FROM course
        WHERE courseId = #{courseId} AND userId = #{userId}
        ]]>
    </delete>
	
	<!-- 마이페이지 코스 작성글 삭제 -->
	<delete id="deleteMpCourse" parameterType="int">
        <![CDATA[
        delete
        from course
        where courseId = #{courseId} 
        ]]>
    </delete>
	
</mapper>