<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring_boot_final.project.dao.IReviewNoteDAO">

	<!-- 리뷰게시판 목록 출력하기 -->
	<select id="reviewNoteList" parameterType="int" resultType="com.spring_boot_final.project.model.ReviewNoteVO">
	
	SELECT r.reviewNoteId,
		   r.reviewNoteTitle,
		   r.reviewNote,
		   r.reviewNoteLike,
		   r.reviewNoteCommentNum,
		   r.reviewNoteCreatedDate,
		   r.reviewPageViewState,
		   c.courseId,
		   c.courseSitesArr,
		   c.courseAddressArr,
		   c.courseMemoArr,
		   c.courseTitle,
		   r.userId
	FROM reviewNote r, course c, user u
	WHERE c.courseId = r.courseId and r.userId = u.userId
	ORDER BY r.courseId
	
	</select>
	
	<select id="selectReviewNote" parameterType="int" resultType="com.spring_boot_final.project.model.ReviewNoteVO">
	
	SELECT r.reviewNoteId,
		   r.reviewNoteTitle,
		   r.reviewNote,
		   r.reviewNoteLike,
		   r.reviewNoteCommentNum,
		   r.reviewNoteCreatedDate,
		   r.reviewPageViewState,
		   c.courseId,
		   c.courseSitesArr,
		   c.courseAddressArr,
		   c.courseMemoArr,
		   c.courseTitle,
		   u.userId
	FROM reviewNote r, course c, user u
	WHERE r.reviewNoteId =#{reviewNoteId} and  r.courseId = c.courseId and r.userId = u.userId
	</select>
	
	
	
	
</mapper>