<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring_boot_final.project.dao.IUserDAO">

    <!-- Create -->

    <insert id="insertUser" parameterType="com.spring_boot_final.project.model.UserVO">
        <![CDATA[
        INSERT INTO user (userId, userPw, userEmail, userNickname, userGender, userBirth)
        VALUES (#{userId}, #{userPw}, #{userEmail}, #{userNickname}, #{userGender}, #{userBirth})
        ]]>
    </insert>

    <!-- Read -->

    <select id="selectUser" parameterType="com.spring_boot_final.project.model.UserVO" resultType="com.spring_boot_final.project.model.UserVO">
        <![CDATA[
        SELECT *
        FROM user
        WHERE userId = #{userId} 
        ]]>
       	
       	<!--  1:정상 2:탈퇴 -->
        <!-- and userState !=2 -->
    </select>
    
    <select id="selectUserView" parameterType="com.spring_boot_final.project.model.UserVO" resultType="com.spring_boot_final.project.model.UserVO">
        <![CDATA[
        SELECT *
        FROM user
        WHERE userId = #{userId}
        ]]>
    </select>
    

    <!-- Update -->
	
	<!-- 마이페이지 편집 수정 -->
	<update id="updateUser" parameterType="com.spring_boot_final.project.model.UserVO">
		UPDATE user
		   SET userName=#{userName}, 
		   	   userNum=#{userNum},
		   	   userNickname=#{userNickname},
		   	   userEmail=#{userEmail},
		   	   userGender=#{userGender}
		 WHERE userId=#{userId} 	   
	</update> 
	
	
	<!-- 비밀번호 수정 -->
  	<update id="updatePw" parameterType="com.spring_boot_final.project.model.UserVO">
		UPDATE user
		   SET userPw = #{userPw}
		 WHERE userId = #{userId} 	   
	</update>
	
	
    <!-- Delete -->
	<!-- 마이페이지 회원 탈퇴 -->
	<!-- <update id="quitUser" parameterType="String">
		UPDATE user
		   SET userState = 2
		 WHERE userId = #{userId}, userPw = #{userPw}	   
	</update> -->
	
	<update id="quitUser" parameterType="string">
  		update user
  		set userState = 2
  		WHERE userId = #{userId}
  	</update>	
	

</mapper>