@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	max-width : 1390px;
	margin: 0 auto;
	min-width : 1080px;
}

#loginPage {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url('https://cdn.dribbble.com/users/331579/screenshots/1916936/heaven_earth_drib.jpg') no-repeat center; */
    background-color : #fff;
    background-size: cover;
    
    height : 845px;
    
}

body::before {
   /*  content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
   /*  background-color: rgba(0, 0, 0, .7); */
}

.login-form {
    position: relative;
    z-index: 2;
    background-color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    padding: 40px 25px 40px 25px;
    border-radius: 10px;
    margin : 0 auto;
    margin-bottom : 6%;
}

.login-form h1 {
    font-size: 32px;
    color: #202020;
    text-align: center;
    margin-bottom: 30px;
}

.int-area {
    width: 400px;
    padding-bottom: 10px;
    position: relative;
}

.int-area:first-child {
    margin-top: 0;
}

.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #000;
    outline: none;
    
    -webkit-box-shadow: 0 0 0px 1000px #F3F4F6 inset;
}

.int-area label {
    cursor: text;
    position: absolute;
    left: 10px;
    top: 18px;
    font-size: 16px;
    color: #999;
    transition: top .5s ease;
}

.int-area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {
        transform: translateX(-8px);
    }
    25% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-8px);
    }
    75% {
        transform: translateX(8px);
    }
}

.int-area input:focus + label,
.int-area input:valid + label {
    top: 0;
    font-size: 13px;
    color: #6B7280;
}

.btn-area {
    margin-top: 30px;
}

/* .btn-area input {
    width: 100%;
    height: 50px;
    background: black;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
} */

.check {
    position: absolute;
    left: 380px;
    top: 15px;
    font-size: 15px;
    color: #999;
    cursor: pointer;
}

.btn-area input:hover {
    background: #f3f4f6;
} 

.caption {
    margin-top: 20px;
    text-align: center;
}

.caption a, span {
    font-size: 15px;
    color: #999;
    text-decoration: none;
}

.sns {
    text-align: center;
    margin-top: 20px;
    
	display: flex;
	flex-wrap: wrap;
	width : 35%;
	margin-left : 33%;
}

.sns > ul > li img {
    height: 30px;
    width :	30px;
}

.sns > ul > li {
	list-style: none;
	float : left;
	margin-left : 10px;
}

.btn-area input{
   outline: 0;
   grid-gap: 8px;
   align-items: center;
   background: 0 0;
   border: 1px solid #000;
   border-radius: 4px;
   cursor: pointer;
   display: inline-flex;
   flex-shrink: 0;
   font-size: 16px;
   gap: 8px;
   justify-content: center;
   line-height: 1.5;
   overflow: hidden;
   padding: 12px 16px;
   text-decoration: none;
   text-overflow: ellipsis;
   transition: all .14s ease-out;
   white-space: nowrap;
   width: 100%;
   }
   
.btn-area input:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}
   
.btn-area input:focus-visible{
       outline-offset: 1px;
   }

.loginTitle {
	font-family: 'establishRetrosansOTF';
}


.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #000000;
    display: block;
    line-height: 1em;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #166cea;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1;
}

.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
    width: 50%;
}

.tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%;
}


.tabs .tab-2 {
    width: 50%;
}

.tabs [class^="tab"] label, .tabs [class*=" tab"] label {
    color: #000000;
    display: block;
    line-height: 1em;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}


.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #000;
    outline: none;
}
