<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring_boot_final.project.dao.admin.IAdminExhbnDAO">

    <select id="ExhbnSelectAll"
            resultType="com.spring_boot_final.project.model.ExhbnVO">
        <![CDATA[
        SELECT *
        FROM exhbn
        ]]>
    </select>

    <select id="ExhbnSelectFilter"
            parameterType="hashmap"
            resultType="com.spring_boot_final.project.model.ExhbnVO">
        SELECT *
        FROM exhbn
        <choose>
            <when test="searchType=='전체'">
                where exhbnTitle like CONCAT('%', #{searchValue}, '%')
            </when>
            <when test="searchType=='번호'">
                where exhbnId = #{searchValue}
            </when>
            <when test="searchType=='제목'">
                where exhbnTitle like CONCAT('%', #{searchValue}, '%')
            </when>
            <when test="searchType=='타입'">
                where exhbnType = #{exhbnType}
            </when>
            <when test="searchType=='내용'">
                where exhbnDetail like CONCAT('%', #{searchValue}, '%')
            </when>
        </choose>
        order by exhbnId desc
        LIMIT #{limit}
        OFFSET #{page}
    </select>

    <select id="ExhbnMaxCount"
            resultType="int">
        <![CDATA[
        SELECT count(*)
        FROM exhbn
        ]]>
    </select>

    <update id="ExhbnUpdate" parameterType="com.spring_boot_final.project.model.ExhbnVO">
        update exhbn
        set exhbnTitle  = #{exhbnTitle},
            exhbnImgUrl = #{exhbnImgUrl}
        where exhbnId = #{exhbnId}
    </update>

    <insert id="ExhbnInsert" parameterType="com.spring_boot_final.project.model.ExhbnVO">
        insert into exhbn (exhbnId, exhbnTitle, exhbnImgUrl, exhbnUrl, exhbnPlaceUrl, exhbnArea, exhbnPlace,
                           exhbnPlaceAddr, exhbnStartDate, exhbnEndDate, exhbnPrice, exhbnPrice1,
                           exhbnPhone, exhbnNum, gpsX, gpsY,
                           exhbnDetail, exhbnType)
        values (#{exhbnId}, #{exhbnTitle}, #{exhbnImgUrl}, #{exhbnUrl}, #{exhbnPlaceUrl}, #{exhbnArea}, #{exhbnPlace},
                #{exhbnPlaceAddr}, #{exhbnStartDate}, #{exhbnEndDate}, #{exhbnPrice}, #{exhbnPrice1},
                #{exhbnPhone}, #{gpsX}, #{gpsY}, #{exhbnView},
                #{exhbnDetail}, #{exhbnType});
    </insert>

</mapper>