<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring_boot_final.project.dao.admin.IAdminNoteDAO">

    <select id="NoteSelectAll" resultType="com.spring_boot_final.project.model.NoteVO">
        <![CDATA[
        SELECT *
        FROM note
        order by noteId desc;
        ]]>
    </select>

    <update id="UpdateNote" parameterType="com.spring_boot_final.project.model.NoteVO">
        UPDATE note
        SET noteTitle = #{noteTitle}
        WHERE noteId = #{noteId}
    </update>

    <insert id="InsertNotice" parameterType="com.spring_boot_final.project.model.NoteVO">
        insert into note(userId, noteTitle, note, category)
        values (#{userId}, #{noteTitle}, #{note}, 'NOTICE')
    </insert>

    <insert id="InsertEvent" parameterType="com.spring_boot_final.project.model.NoteVO">
        insert into note(userId, noteTitle, note, category, eventStartDate, eventEndDate)
        values (#{userId}, #{noteTitle}, #{note}, 'EVENT', #{eventStartDate}, #{eventEndDate})
    </insert>

</mapper>