@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/***** login *****/
#login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-header {
    margin-top: 100px;
    text-align: center;
    align-items: end;
    padding: 20px;
}

#login-header a {
    color: #03DAC6;
    font-size: 1.6rem;
    font-family: 'establishRetrosansOTF';
    line-height: 2.0rem;
}
#login-header span {
    color: #03DAC6;
    font-size: 1.2rem;
    font-family: 'establishRetrosansOTF';
    line-height: 2.0rem;
}
.input-box {
    display: flex;
    flex-direction: column;
}
.input-box input {
    margin: 5px 0 15px 0;
}

