@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #121212;
    color:#ffffff;
}

#sidebar {
    position:absolute;
    background-color: #1c1c1c;
    height: 100%;
    width: 10%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logoBox {
    text-align: center;
    width: 100%;
    /*border: 1px red solid;*/
    padding: 30px 0;
}

#logoBox a {
    color: #03DAC6;
    font-size: 1.6rem;
    font-family: 'establishRetrosansOTF';
    line-height: 2.0rem;
}
#logoBox span {
    color: #03DAC6;
    font-size: 1.2rem;
    font-family: 'establishRetrosansOTF';
    line-height: 2.0rem;
}

.menu-list li {
    padding: 10px 15px;
    font-size: 0.9rem;
    color: #7d7d7d;
}

.menu-list li:hover {
    background-color: #E5E7EB;
}
.menu-list li:hover a {
    color: #1c1c1c;
}

.menu-list a {
    color: white;
    font-size: 1.1rem;
    font-weight: normal;
}

.menu-list .sub-title {
    padding: 20px 15px 5px 15px;
}

.menu-list .sub-title:hover {
    background-color: rgba(0,0,0,0);
}

/* 메뉴 footer */

.menu-footer {
    margin: 20px 0;
}

.menu-footer li {
    padding: 5px 15px;
}

.menu-footer a {
    color: #7d7d7d;
    font-size: 0.9rem;
}