@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #121212;
    color:#ffffff;
}

main {
    height: 90vh;
    margin-left: 150px;
    padding: 5vh;
    min-width: 1080px;
}

h1 {
    font-size: 2.0rem;
    text-align: center;
    margin: 10px;
}

/* search-container */

.search-container {
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.search-container select {
    width: 100px;
    padding: 5px;
}

.search-container input {
    padding: 5px 10px;
}

.search-container button {
    padding: 5px 10px;
}

/* table */
.resultTable {
    border: 1px solid white;
    background-color: #D1D5DB;
    width: 90%;
    margin: 10px auto;
}
.resultTable th,td {
    padding: 15px 10px;
    text-align: left;
    color: #121212;
}
.resultTable th {
    border-bottom: solid 1px white;
    text-align: center;
}
.resultTable td {
    border-bottom: dotted 1px #aaaaaa;
}
.userState {
    text-align: center;
}
.resultTable input:read-only {
    border: none;
    max-width: 80px;
    background-color: rgba(0,0,0,0);
}

/* 수정테이블 */
.editTable {
    /*background-color: #E5E7EB;*/
    text-align: left;
    font-size: 0.9rem;
    margin: 10px auto;
}

.displayBox h2 {
    text-align: center;
    font-size: 1.2rem;
}

.editTable th,td {
    padding: 10px 20px;
    text-align: left;
    color: #121212;
    border-bottom: dotted 1px #aaaaaa;
}
.editTable th {
    text-align: center;
}
.editTable td {
    text-align: left;
}
.editTable select {
    min-width: 100px;
}

/* 숨기기 */
.hidden {
    display: none;
}

.displayBox {
    display: none;
}

/* page number */
.pageNumBox {
    display: flex;
    justify-content: center;
}
.pageNumList {
    display: flex;
}
.pageNumList li {
    width: 30px;
    height: 30px;
    background-color: #D1D5DB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1A1A;
    font-size: 0.9rem;
    border: #E5E7EB 0.5px solid;
}
.pageNumList li:hover {
    background-color: #1A1A1A;
    color: #E5E7EB;
}

.pageNumList .pageOn {
    background-color: #1A1A1A;
    color: #E5E7EB;
}