@charset "UTF-8";


/*banner*/



.bannerText{
	display: flex;
 	justify-content: center;
  	align-items:center;
}

/*bannerText1*/


#bannerText1 > ul > li {
	text-align : center;
	list-style: none;
	font-size : 12px;
	color : #fff;
	position : absolute;
	top : 12.2%;
	left: 0%;
	width : 100%;
}

/*bannerText2*/

/* #bannerText2{
	position : absolute;
	top : 14%;
	left: 42.5%;
}
 */
#bannerText2 > ul > li {
	text-align : center;
	list-style: none;
	font-size : 40px;
	color : #fff;
	font-weight : bold;
	position : absolute;
	top : 14%;
	left : 0%;
	width : 100%;
}

/*bannerText3*/

#bannerText3{
	width : 100%;
	height : 1.5%;
	position : absolute;
	top : 16.5%;
	left: 0%;
}

#bannerText3 > ul{
	width : 200px;
}

#bannerText3 > ul > li {
	text-align : center;
	list-style: none;
	font-size : 13px;
	color : #fff;
	font-weight : bold;
	color : #fff;
	text-decoration : none;
	font-weight : bold;
	border : solid 0.1px rgba(255,255,255,0.7);
	line-height: 45px;
	width : 100%;
	
}

#bannerText3 > ul > li > a {
	color : #fff;
	text-decoration : none;
	font-weight : bold;
}


#bannerText3 > ul > li:hover {
	color : black;
	background-color:#fff;
} 

#bannerText3 > ul > li:hover a {
	color : black;
}
