@charset "UTF-8";

#chatHeader {
	background-color : black;
	color : #eeeeee;
	height : 25px;
	padding: 15px 15px;
	border-bottom : solid 2px rgba(0, 0, 0, 0.1);
 	/* box-shadow:0 3px 0px 0px rgba(0, 0, 0, 0.5); */
 	line-height: 25px;
 	border-radius:10px 10px 0px 0px;
}

#chatHeader button {
	color : #eeeeee;
}

#btnClose {
	border: none;
	background: none;
	float: right;
	line-height: 25px;
	}
 
#chatBox {
	height: 600px;
	width: 500px;
	overflow-y:scroll;
	padding:10px 15px;
	background:#fff;
	    } 	

#message {
	height : 33px;
	width: 230px;
	padding-left : 10px;
	margin-left : 14px;
	margin-top : 5px;
	border : none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
	}

#submitBtn {
	width : 27px;
	height : 27px;
	float: right;
	background-color : #fff;
	padding-right:12px;
	margin-right:5px;
	margin-top:10px;
	border-color : #000;
	border-radius : 2px;
	}


.msgBox  span {
	padding:3px 5px;
	word-break:break-all;
	display:block; 
	max-width:200px; margin-bottom: 10px;
	border-radius:0px 10px 10px 10px
}
							 
.msgBox.send  span {
	background:#000;
	color : #fff;
	float:right;
	border-radius:10px 0px 10px 10px;
	font-size : 15px;
	padding: 10px 10px 10px 10px;
	}

.msgBox #in {
	padding:0px 0px 0px 0px;
	width:500px;
	background:#ebebeb;
	border :none;
	/* border : solid 2px black; */
	}

.msgBox.receive  span {
	background:#fff;
	float:left;
	font-size : 15px;
	padding: 10px 10px 10px 10px;
}


#chatbotTest{
	display:none;	/* 안 보임. 차지하고 있는 영역도 없음 */
	position : absolute;
	position: fixed;
	right : 15px;
	top : 40%;
	width : 310px;
	height : 527px;
	box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	background-color : #fff;
	border-radius: 12px;
}

#chatBox {
	height: 400px;
	width: 280px;
	overflow-y:scroll;
	padding:10px 15px;
	background:#ebebeb;
}

/* chatbot 이미지 */
#chatImage img{
	position : absolute;
	position: fixed;
	right : 30px;
	top : 850px;
	width : 80px;
	height : 80px;
	filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.1)); /* 이미지에 그림자 효과 */
}

input:focus {
	outline: none; /* outline 테두리 없애기 */
	}
	


