@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    min-width: 1080px;
    height: 100%;
    overflow: hidden;
    background: #fff;
    color:black;
    /*font-size: 1rem;*/
    overflow-y:scroll;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1rem;
    line-height: 30px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
}

a {
	color: #000;
    text-decoration:underline dotted 1px;
    text-decoration-color:#1A2EA7;
}

.h1 {
    font-size: 1.6rem;
    font-weight: 700;
}

.h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

.h3 {
    font-width: 500;
}

/* btn */

.white-btn {
    appearance: none;
    background-color: #fff;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 0;
    min-width: 0;
    outline: none;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
.white-btn:disabled {
    pointer-events: none;
}
.white-btn:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.white-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.black-btn {
    appearance: none;
    background-color: #000;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 0;
    min-width: 0;
    outline: none;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
.black-btn:disabled {
    pointer-events: none;
}
.black-btn:hover {
    color: #1a1a1a;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.black-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

/* searchbar */
.big-searchbar {
    width:40%;
    min-width: 200px;
    height: 40px;
    padding: 4px 16px;
    border: 2px black solid;
    border-radius: 10px;
    position: absolute;
}

/* big btn */
.white-btn-big {
    appearance: none;
    background-color: #fff;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
.white-btn-big:disabled {
    pointer-events: none;
}
.white-btn-big:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.white-btn-big:active {
    box-shadow: none;
    transform: translateY(0);
}

.black-btn-big {
    appearance: none;
    background-color: #000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
.black-btn-big:disabled {
    pointer-events: none;
}
.black-btn-big:hover {
    color: #1a1a1a;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.black-btn-big:active {
    box-shadow: none;
    transform: translateY(0);
}