@charset "UTF-8";

.show {
	opacity: 1;
	z-index: 1000;
	transition: all 0.5s;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}
#container-deatil-search {
	width: 1080px;
	/*border-color: ;*/
	/*border-width: ;*/
	/*border-style: ;*/
	padding: 20px;
}
.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
	/* 임시 지정 */
	width: 1110px;
	height: 500px;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
}

.show .popup {
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}

}

.container-list{
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 30px 40px;
    border-top: 1px solid #999;
    background-color: #f6f6f6;	

	
	
	
}

.exsearchcontainer{
	heigh : 250px;
	display : flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-top: 5%;
	

}

.item1{
	width: 250px;	
}
.item2 {
	width: 250px;
}

.item3 {
	width: 101px;
}

.item4 {
	width: 98px;
}

.item5 {
	
}
	


	
	
}
.hasDatepicker{
	width:90px;
}


.exsearchcontainer5{
display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 30px 40px;
    border-top: 1px solid #999;
    background-color: #f6f6f6;	
    margin-top: 0%;

	
	
	
}

#exfarite{
	margin: auto;
}
.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}
.show {
	opacity: 1;
	z-index: 1000;
	transition: all 0.5s;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup {
	position: absolute;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	width: 1150px;
	height: 500px;
	transform: translate(-50%, -40%);
	border-width: 5px;
	padding: 20px;
	border-radius: 10px;
	
	
}

.show .popup {
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}
.toggleSwitch {
	width: 3rem;
	height: 1.5rem;
	display: block;
	position: relative;
	border-radius: 2rem;
	background-color: #fff;
	box-shadow: 0 0 1rem 3px rgba(0 0 0/ 15%);
	cursor: pointer;
}

/* 토글 버튼 */
.toggleSwitch .toggleButton {
	/* 버튼은 토글보다 작아야함  */
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 50%;
	left: .2rem;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #f03d3d;
}

.subttitle-1{
	font-size : 30px;
	margin-bottom: 30px;
	    font-weight: 600;
	
}

.subttitle{
	font-size : 20px;
	    font-weight: 600;
	
	
}

.subttitle2{
		font-size : 20px;
	    font-weight: 600;
	
	
}


.close-btn{
 width:20px;
    height:20px;
    overflow:hidden;
    margin:0 auto;
    position : relative;
    left : 1080px;
    
}
	.close-btnimg{
	   width:10px;
    height:10px;
    object-fit:cover;
    margin : 0 auto;
	}
	
	
	.white-btn2{
	height: 54px;
	width: 80px;
	border: 2px solid #1A1A1A;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 600;
	margin: 0;
