@charset "UTF-8";

/* exhibition */

#exhibitionAll{
	height : 1200px;
}

#exhibition{
	width : 100%;
	height: 47%;
	background-color: #fff;
	display: inline-block;
}

#exhibition2{
	width : 100%;
	height: 47%;
	background-color: #fff;
	display: inline-block;
}

.exhibitionBox{
	height: 60%;
	width : 15%;
	display : inline-block;
	margin-left :4%;
	margin-top : 4%
}

#exhibitionBox1{
	margin-left : 13%;
}

.exhibitionImg {
	height : 80%;
	width : 100%;
	background-color : #eeeeee;
}

.exhibitionImg > ul > li > img{
	height : 270px;
	width : 100%;
}



.exMaintext {
	margin-left : 13%;
	margin-top : 4%;
	float : left;
	width : 73%;
}

.exMaintext > ul >  li  {
	width : 30%;
}

.exhibitionText {
	margin-top : 4%;
}

.exhibitionText > ul > li{
	margin-top : 2%;
}

.MainText{
	float : left;
	font-size : 24px;
	font-weight : bold;
}

.exName > a{
	font-size : 18px;
	font-weight : bold;
}

.exPeriod > a{
	font-size : 16px;
	font-weight : bold;
	color : #949494;
}

/** exhibitionMore **/

.exhibitionMore {
	float : right;
	text-align : right;
	font-size : 18px;
	font-weight : bold;
	margin-top : 0.2%
}

.exhibitionMore > a{color : #949494; height : 100%;}

