@charset "UTF-8";

/* exhibition */

#exhibitionAll{
}

#exhibition{
	width : 100%;
	/* height: 47%; */
	height: 60vh;
	background-color: #fff;
	display: inline-block;
}

#exhibition2{
	margin-bottom : 2%;
	width : 100%;
	/* height: 47%; */
	height: 60vh;
	background-color: #fff;
	display: inline-block;
}

.exhibitionBox{
	width : 15%;
	display : inline-block;
	margin-left :4%;
	margin-top : 2%;
	margin-bottom : 2%;
}

#exhibitionBox1{
	margin-left : 13%;
}

.exhibitionImg {
	height : 30vh;
	width : 100%;
	background-color : #eeeeee;
	overflow: hidden;
}

.exhibitionImg > ul{
	height : 100%;
	width : 100%;
}

.exhibitionImg > ul > li {
	height : 100%;
	width : 100%;
}

.exhibitionImg > ul > li > img{
	height : 100%;
	width : 100%;
	max-width: 100%;
  	display: block;
  	object-fit: cover;
}



.exMaintext {
	margin-left : 13%;
	margin-top : 3.5%;
	float : left;
	width : 73%;
}

.exMaintext > ul >  li  {
	/* width : 30%; */
}

.exhibitionText {
	margin-top : 4%;
}

.exhibitionText > ul > li{
	margin-top : 2%;
	margin-top : 20px;
}

.MainText{
	float : left;
	font-size : 24px;
	font-weight : bold;
	display : inline-block;
}

.exName > a{
	font-size : 18px;
	font-weight : bold;
	 text-decoration:none;
}

.exPeriod > a{
	font-size : 16px;
	font-weight : bold;
	color : #949494;
	 text-decoration:none;
}

.exUserName{
	font-size : 24px;
	font-weight : bold;
	/* width : 15%; */ /* 주석 풀면 밑에 텍스트 생략 적용됨 */
	float : left;
	
	/* 보류 */
	white-space: nowrap; 	/* 아래줄로 내려가는걸 막음 */
	text-overflow: ellipsis;  /*... 만들기 */
	overflow: hidden;  
	/* 보류 */
}

/** exhibitionMore **/

.exhibitionMore {
	float : right;
	text-align : right;
	font-size : 18px;
	font-weight : bold;
	margin-top : 0.2%
}

.exhibitionMore > a{
	color : #949494;
	 height : 100%;
	 text-decoration:none;
	 }

