@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


.tabList {
	display:flex;
}

.tabList ul, li {
	display:inline-block;
    justify-content: left;
}

.cell {
	min-width:260px;
	margin:1%;
	width:20%;
	height:20%;
}

.cell img {
	width:100%;
	height:100%;
}

/* 유나 */
#searchMainTitle {
	margin-top : 40px;
	width : 91%;
	height : 150px;
	border-bottom : solid 2px black;
	margin-left : 4%;
	font-size : 25px;
	font-weight : bold;
}

#searchMainBox{
	margin-top : 1%;
	padding-top : 0.8%;
	height: 60%;
	line-height : 100%;
}

#searchTEXT{
	height: 42px;
    /* min-width: 300px; */
    padding: 4px 16px;
    border: 2px black solid;
    border-radius: 10px;
}

/* #SearchBtn */

#SearchBtn{
	height: 54px;
	width : 80px;
	border: 2px solid #1A1A1A;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
    position : relative;
	top : 0.5%;
}

#SearchBtn:disabled {
    pointer-events: none;
}
#SearchBtn:hover {
    color: #1a1a1a;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
#SearchBtn:active {
    box-shadow: none;
    transform: translateY(0);
}

#detailSearchBtn{
	background-color: #fff;
	height: 54px;
	width : 100px;
	border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    position : relative;
	top : 0.5%;
}

#detailSearchBtn:disabled {
    pointer-events: none;
}
#detailSearchBtn:hover {
    color: #fff;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
#detailSearchBtn:active {
    box-shadow: none;
    transform: translateY(0);
}

#searchAreaBox {
	margin-top : 20px;
	width : 91%;
	height : 70px;
	border-bottom : solid 2px black;
	margin-left : 4%;
	font-size : 25px;
	font-weight : bold;
}

/*ExhibitionBOX*/
#ExhibitionBOX{
/* 	border : solid 2px blue; */
	width : 30%;
	float:right;
	text-align : center;
	height : 85%;
}

.exhibitionABC{
	margin-left :20px;
	background-color: #fff;
	height : 85%;
	width : 20%;
	border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    position : relative;
	bottom : 2%;
}

.exhibitionABC:disabled {
    pointer-events: none;
}
.exhibitionABC:hover {
    color: #fff;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.exhibitionABC:active {
    box-shadow: none;
    transform: translateY(0);
}

/*searchArea*/
#searchArea{
	/* border : solid 2px blue; */
	width : 60%;
	float:left;
	text-align : center;
	height : 85%;
	display: inline-block;
	font-size : 20px;
}

.AREA{
	float:left;
	/* border : 1px red solid; */
	margin-top : 1%;
	margin-left : 2%;
}

.AREA > ul >li {
margin-top : 6px;
}

.AREA>ul>li:hover {
	text-decoration-line: underline;
  	text-decoration-style: solid;
  	text-decoration-thickness: 3px;
}

/*img-box*/
.img-box {
	/* border : solid 2px red; */
	width : 100%;
	height: 450px;
} 

.cell{
	/* border : solid 2px blue; */
	width : 20%;
	margin-left : 3%;
	margin-top : 3%;
}

.list-con{
	/* border : solid 2px green;*/
}

#ex-all{
	margin-top : 4%;
	height : 100px;
	/* border : solid 2px red; */
}

.ex-place{
	font-size : 16px;
	font-weight : bold;
}

.ex-title{
	font-size : 22px;
	font-weight : bold;
	margin-top : 4%;
}

.ex-period{
	font-size : 18px;
	margin-top : 3%;
	color : #808080;
	font-weight : bold;
}
