@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


.tabList {
	display:flex;
}

.tabList ul, li {
	display:inline-block;
	justify-content: left;
}

/* .cell {
	min-width:260px;
	margin:1%;
	width:20%;
	height:20%;
} */

.cell img {
	width:100%;
	height:100%;
}

/* 유나 */

#searchMainTitle {
	margin-left : 4%;
	margin-right : 4%;
	margin-top : 50px;
	/* height : 150px; */
	border-bottom : solid 2px black;
	line-height: 2.3rem;
	padding: 20px 0;
}

/* .subTitle{
	font-size : 1rem;
} */

#searchMainBox{
	/* margin-top : 1%; */
	padding-top : 0.8%;
	height: 60%;
	line-height : 100%;
}

#searchTEXT{
	width : 53%;
	height: 40px;
	padding: 7.4px;
    font-size:1.0rem;
	border: 2px black solid;
	border-radius: 10px;
}

/* #SearchBtn */

#SearchBtn{
	height: 62px;
	width : 80px;
	border: 2px solid #000;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	margin-left : 10px;
	display: inline-block;
	position : relative;
	top : 0.5%;
}

#SearchBtn:disabled {
	pointer-events: none;
}
#SearchBtn:hover {
	color: #1a1a1a;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}
#SearchBtn:active {
	box-shadow: none;
	transform: translateY(0);
}

#detailSearchBtn{
	background-color: #fff;
	height: 54px;
	width : 100px;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	color: #3B3B3B;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	position : relative;
	top : 0.5%;
}

#detailSearchBtn:disabled {
	pointer-events: none;
}
#detailSearchBtn:hover {
	color: #fff;
	background-color: #000;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}
#detailSearchBtn:active {
	box-shadow: none;
	transform: translateY(0);
}

#searchAreaBox {
	margin-left : 4%;
	margin-right : 4%;
	margin-top : 20px;
	height : 70px;
	border-bottom : solid 2px black;
	font-size : 25px;
	font-weight : bold;
}

/*ExhibitionBOX*/
#ExhibitionBOX{
	/* border : solid 2px green; */
	width : 40%;
	float:right;
	text-align : right;
	height : 85%;
}

.exhibitionABC{
	margin-left :20px;
	background-color: #fff;
	height : 85%;
	width : 100px;
	border: 2px solid #1A1A1A;
	border-radius: 10px;
	color: #3B3B3B;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	position : relative;
	bottom : 2%;
}

.exhibitionABC:disabled {
	pointer-events: none;
}
.exhibitionABC:hover {
	color: #fff;
	background-color: #000;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}
.exhibitionABC:active {
	box-shadow: none;
	transform: translateY(0);
}

/*searchArea*/
#searchArea{
	width : 59%;
	float:left;
	text-align : left;
	height : 85%;
	display: inline-block;
	font-size : 20px;
}

#searchArea > .selected a {
	color: black;
}

.AREA{
	float:left;
	/* border : 1px red solid; */
	margin-top : 1%;
	margin-left : 2%;
}
.AREA a{
	color : #949494;
}
.AREA > ul >li {
	margin-top : 6px;
}
.AREA>ul>li a:hover {
	color : #000;
}

/*img-box*/

.img-box {
	text-align : center;
	/* border : solid 2px red; */
	width : 100%;
	height: 45vh;
}

.img-box> a >img {
	text-align : center;
	width: 100%;
}

.cell{
	width : 20%;
	margin-left : 4%;
	margin-top : 3%;
	height : 570px;
	float:left;
}


.list-con{
	width : 92%;
	margin-left : 4%;
}

.list-con::after {
  content: "";
  display: block;
  clear: both;
}/* float:left 때문에 자식 인식 못함 */

#ex-all{
	margin-top : 4%;
	height : 20%;
}

.ex-place{
	font-size : 16px;
	font-weight : bold;
}

.ex-title{
	font-size : 22px;
	font-weight : bold;
	margin-top : 4%;
	line-height : 30px;
}

.ex-period{
	font-size : 18px;
	margin-top : 3%;
	color : #808080;
	font-weight : bold;
}

.white-btn{
	height: 54px;
	width: 90px;
	border: 2px solid #1A1A1A;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	display: inline-block;
	position: relative;
	top: 0.5%;
	margin-left : 10px;
}

.detailSearch{
	height: 62px;
	/* width : 80px; */
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}


.show {
	opacity: 1;
	z-index: 1000;
	transition: all 0.5s;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	/* 임시 지정 */
	width: 1080px;
	height: 900px;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
}

.show .popup {
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}
.hi {
	margin-botton : 10px;
}
#container-deatil-search {
	width: 1080px;
	/*border-color: ;*/
	/*border-width: ;*/
	/*border-style: ;*/
	padding: 20px;
}
.exsearchcontainer1{
	heigh : 100vh;
	display : flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-right:auto;
}

.item1{
	flex-basis:50%;

}
.item3{
	flex-basis:20%;


}
.item4{
	flex-basis:30%;


}

.exsearchcontainer3{
	heigh : 100vh;
	display : flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-items: flex-end;


}

#exfarite{
	margin: auto;

}
.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}
.show {
	opacity: 1;
	z-index: 1000;
	transition: all 0.5s;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup {
	position: absolute;

	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	/* 임시 지정 */
	width: 1150px;
	height: 500px;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
	border-color: black;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
}

.show .popup {
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}
.toggleSwitch {
	width: 3rem;
	height: 1.5rem;
	display: block;
	position: relative;
	border-radius: 2rem;
	background-color: #fff;
	box-shadow: 0 0 1rem 3px rgba(0 0 0/ 15%);
	cursor: pointer;
}

/* 토글 버튼 */
.toggleSwitch .toggleButton {
	/* 버튼은 토글보다 작아야함  */
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 50%;
	left: .2rem;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #f03d3d;
}

