@charset "UTF-8";

 @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.swiper-slide swiper-slide-active {
    margin-bottom: 0;
    position:absolute;
    top:0;
    width:100%;
}

/* div {
    border: 1px solid red;
} */

body {
    align-items: center;
    background : var(--color-black);
}

body > .main {
    flex-direction: column;
    align-items: center;
    width : 100%;
    height: 100vh;
    user-select: none;
}


tabList {
	display:flex;
}

tabList ul, li {
	display:inline-block;
    justify-content: left;
}

.cell {
	min-width:260px;
	margin:1%;
	width:20%;
	hight:20%;
}

.cell img {
	width:100%;
	height:100%;
}

/* .btns > .select-btn {
    background-color: transparent;
    border : none;
    outline: none;
}

.btns {
    margin : var(--size-margin);
}

.btns > .select-btn {
    border-radius: 6%;
    padding : var(--size-padding);
}

.btns > .select-btn:nth-child(1) {
    background: var(--color-red);
}

.btns > .select-btn:nth-child(2) {
    background: var(--color-blue);
}

.btns > .select-btn:nth-child(3) {
    background: var(--color-yellow);
}
.btns > .select-btn:nth-child(4) {
    background: var(--color-green);
}

.items {
    height: 60%;
    width : 50%;
    list-style: none;
    overflow-y: scroll;
}

.items > .item{
    display : flex;
    align-items: center;
    background: var(--color-whiteBlue);
    border-radius: 5%;
    margin : 5px 0;
}

.items > .item > img {
    width : var(--size-img);
    margin : 0 15px;
}

.btn {
    transition : transform 300ms ease;
    user-select: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.cell {
   width: 225px;
   text-align:center;
   display: block;
   float: left;
} */

	
}


.background {
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}
.show {
	opacity: 1;
	z-index: 1000;
	transition: all 0.5s;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	/* 임시 지정 */
	width: 1080px;
	height: 900px;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
}

.show .popup {
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}
.hi {
	
	margin-botton : 10px;
}
#container-deatil-search {
	width: 1080px;
	    border-color: ;
    border-width: ;
    border-style: ;
    padding: 20px;
	
	
	
} 
.exsearchcontainer1{
	heigh : 100vh;
	display : flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-right:auto;
	
	
}

.item1{
flex-basis:50%;	
	
}
.item3{
flex-basis:20%;	
	
	
}
.item4{
flex-basis:30%;	
	
	
}



.exsearchcontainer3{
	heigh : 100vh;
	display : flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-items: flex-end;
	
	
}

#exfarite{
	margin: auto;
	
}
.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}
.show {
	opacity: 1;
	z-index: 1000;
	transition: all 0.5s;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup {
	position: absolute;
	
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	/* 임시 지정 */
	width: 1150px;
	height: 500px;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
	border-color: black;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
}

.show .popup {
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}
.toggleSwitch {
	width: 3rem;
	height: 1.5rem;
	display: block;
	position: relative;
	border-radius: 2rem;
	background-color: #fff;
	box-shadow: 0 0 1rem 3px rgba(0 0 0/ 15%);
	cursor: pointer;
}

/* 토글 버튼 */
.toggleSwitch .toggleButton {
	/* 버튼은 토글보다 작아야함  */
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 50%;
	left: .2rem;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #f03d3d;
}


