@charset "UTF-8";

/* myPageCourse.css */

/* 전체 틀 */
.wrapper {
	margin: 0 auto;
	width:1080px;
	/*  푸터 하단 고정 */
	height:auto;
	min-height: 100%;
	padding-bottom: 20%;
}

section {
	display:flex;
	justify-content:space-between;
	margin-top:10%;
	
}

section nav {
	display:flex;
	margin-right:10%;
	width:30%;
}



.tabMenu {
	width:100%;
}

.tabMenu li {
	margin-top:10%;
}

.tabMenu li a {
	color:#949494;
	font-size:20px;
}

.tabMenu li:first-child a {
	color:#000;
	text-align: left;
	font-weight:bold;
	font-size:24px;
	letter-spacing: 0px;
	opacity: 1;
}

.tabMenu li:nth-child(2) a, .tabMenu li a:hover {
	color:#000;
	font-weight:bold;
}


.myPageBox {
	width:100%;
}


/* 선 */
.line {
	border:1px solid #000;
}

/* 내 전시 */
.myExhbn {
	margin:5% 0;
}

.myExhbn h2 {
	font-weight:bold;
	font-size:28px;
	margin-bottom:3%;
	
}

/* 스크랩, 좋아요, 코스 */
.titleBox a {
	font-weight:bold;
	font-size:28px;
	margin-left:3%;
	color:#949494;
	
}

/* course  */
.titleBox a:last-child {
	color:#000;
}

.titleBox a:hover {
	color:#000;
	font-weight:bold;
}
/* 테이블 */
.tableBox {
	margin-top:3%;
}

table {
	width:100%;
}

table th {
	border-top:2px solid #000;
	border-bottom :2px solid #000;
	font-weight:bold;
	background:#F6F6F6;
	padding:3% 0;
	height:auto;
	line-height:auto;
	text-align:center;	
}


table td {
	text-align:center;
	padding:3% 0;
	items-align:center;
	border-bottom :2px solid #000;
}

/* 전시회 코스 정보 */
.courseBox {
	margin-top:5%;
}

/* 이미지 */
.imageBox {
	width:180px;
	height:250px;
	overflow:hidden;
	display:flex;
	items-align:center;
}

.imageBox img {
	width:100%;
	height:100%;
	object-fit:cover;
}

.courseBox a {
	margin-top:2%;
	display:flex;
} 

.courseBox a:nth-child(2) {
	font-size:15px;
	color:#000;
	font-weight:bold;
} 

.courseBox a:nth-child(3) {
	font-size:21px;
	color:#000;
	font-weight:bold;
} 

.courseBox a:nth-child(4) {
	font-size:15px;
	color:#949494;
	font-weight:bold;
} 