@charset "UTF-8";

#searchBox{
	position : absolute;
	top : 70px;
	left : 0;
	/* background-color : #fff; */
	width : 100%;
	height : 70px;
	visibility:hidden;
	box-shadow:0 3px 0px 0px rgba(0, 0, 0, 0.05);
	text-align : center;
}

#searchMessage {
	width : 50%;
	height : 48px;
	line-height : 70px;
	margin-top : 0.7%;
	padding-left: 1%;
	border : none;
	font-size : 15px;
	border-radius:12px
}

#searchBox img {
	width: 15px;
	height: 15px;
	margin-left :3%;
	
}

#searchBtn {
	margin-left : 1%;
	width : 80px;
	height : 48px;
	border-radius:20px;
	border : solid 2px #fff;
	color : #fff;
	background-color: rgba( 255, 255, 255, 0 );	
}

