@charset "UTF-8";

#searchBox{
	position : absolute;
	top : 70px;
	left : 0;
	background-color : #fff;
	width : 100%;
	height : 70px;
	visibility:hidden;
	z-index : 500;
	box-shadow:0 3px 0px 0px rgba(0, 0, 0, 0.05);
	text-align : center;
}

#searchMessage {
	width : 50%;
	height : 48px;
	margin-top : 10px;
	padding-left: 1%;
	border : none;
	font-size : 15px;
	border-radius:12px;
}

#searchBox img {
	width: 15px;
	height: 15px;
	position:absolute;
	right : 3%;
	top : 40%;
	
}

input:focus {
	outline: none; /* outline 테두리 없애기 */
}

#searchBtn {
	margin-left : 1%;
	width : 80px;
	height : 48px;
	border-radius:20px;
	border : solid 2px #fff;
	color : #fff;
	background-color: #000;	
}
