@charset "UTF-8";
/*
<input type="checkbox" id="toggle" hidden>
<label for="toggle" class="toggleSwitch">
  <span class="toggleButton"></span>
</label>
*/


.toggleSwitch {
  width: 6rem;
  margin: 2rem;
  height: 3rem;
  display: block;
  position: relative;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 3px rgba(0 0 0 / 5%);
  cursor: pointer;

}

.toggleSwitch .toggleButton {
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: 50%;
  left: .2rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #000;

}

/* 체크박스가 체크되면 변경 이벤트 */
#toggle:checked ~ .toggleSwitch {
  background: #000;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 2.8rem);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}

#toggleBox{
	margin-top: 0;
}

