@charset "UTF-8";

/* myPageEdit.css */

@font-face {
	font-family: 'establishRetrosansOTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.logo {
    font-family: 'establishRetrosansOTF';
    font-size: 40px;
    color: #000;
    text-decoration: none;
}

/* 전체 틀 */
.wrapper {
	/*  푸터 하단 고정 */
	padding-bottom: 25%;
	max-width : 1390px;
	margin: 0 auto;
	min-width : 1080px;
}

#course-container {
    width:100%;
    min-width: 1080px;
    min-height: auto;
    background-color: rgba(255,255,255,1);
    --web-view-name: coursepage;
    --web-view-id: coursepage;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
    position: relative;
}

.course-box {
    margin-top: 50px;
    line-height: 2.3rem;
    border-bottom: black 2px solid;
    padding: 20px 0;
    display:flex;
}


.course-box>nav {
	display:flex;
	width:30%;

}

/* 탭 메뉴 */
.tabMenu {
	width:100%;
	border-right:2px solid #aaa;
}

.tabMenu li {
	margin-top:10%;
}

.tabMenu li:first-child {
	margin:0;
} 

.tabMenu li a {
	color:#949494;
	font-size:20px;
}


.tabMenu li:nth-child(7) a, .tabMenu li a:hover {
	color:#000;
	font-weight:bold;
	font-size:22px;
}

.titleBox a {
	font-weight:bold;
	font-size:20px;
	margin-left:3%;
	color:#949494;
	
}

/* 개인정보 수정 */
.titleBox {
	margin-top:3%;
}

.titleBox a:first-child {
	color:#000;
}

.titleBox a:hover {
	color:#000;
	font-weight:bold;
}

.myPageBox {
	width:100%;
	height:auto;
	min-height:100%;
	margin-left:2%;
}

/* 기본 정보, 맞춤 정보 */
.myPageBox h2 {
	font-size:28px;
	color:#000;
	margin-bottom:2%;
}

/* 선 */
.line {
	border:1px solid #000;
}

/* 테이블 */
 .tableBox {
 	width:100%;
	overflow-x: hidden;
	overflow-y: hidden;
 	margin-top:3%;
 }
 
 /* 정보 */
 .infoBox {
 	display:flex;
 	width:100%;
 	align-items:center;
 	vertical-align:middle;
 	text-align:center;
 	margin-top:4%;
 }
 
 .ment {
 	margin-top:1%;
 }
.warning {
	padding: 10px 5px;
    line-height: 14px;
    font-size: 13px;
    color: #ef3e42;
}
/* 항목 */
.itemsBox {
	display:flex;
	width:20%;
	text-align:center;
}

 .itemsBox>span {
 	font-weight:bold;
	padding: 0 15%;
	height:auto;
	line-height:auto;
	text-align:left;
	width:100%;	
	color:#aaa;
 }

 .itemsBox>span:hover {
 	color:#000;
 }

.inputBox {
	display:flex;
	margin-right:15%;
	width:50%;
}

.radioStyle {
	display:inline-block;
}

.woman {
	margin-left:10%;
}

/* toggle */
.nameBox, .numberBox, .nicknameBox, .emailBox, .emailNumBox {
	margin-left:20%;
	width:100%;
	display:none;
}

/* 입력창 */
.nameInput, .numberInput, .nicknameInput, .emailInput, .emailNumInput {
	width: 40%;
    height: 40px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    color: #202020;
}

.idInput {
	border:none;
	font-size: 15px;
	color: #202020;
}

.nameInput:focus, .numberInput:focus, .nicknameInput:focus, .emailInput:focus	{
	background:rgb(232, 240, 254);
}

.emailInput {
	width:25%;
}

.emailAddress {
	width: 15%;
    height: 40px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    color: #202020;
}

/* 설명 */
.explain {
    font-size: 13px;
    color: #aaa;
}


/* 버튼 */
.buttonBox {
	margin:0 auto;
	text-align:center;
	margin-top:10%;
	margin-bottom: 10%;
}

.white-btn, .black-btn {
	width:200px;
	font-size:15px;
	margin-left:5%;
}

/* 수정 버튼 */
.edit {
	width:8%;
}

.searchBox {
	margin:0 auto;
	text-align:center;
	margin-top:3%;
	margin-bottom:4%;
}

.searchBox a:hover {
	font-weight:bold;
}

.centerBox {
	text-align:center;
	margin: 3% 0 0;
}