@charset "UTF-8";

/* myPageEvent.css */

@font-face {
	font-family: 'establishRetrosansOTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.logo {
    font-family: 'establishRetrosansOTF';
    font-size: 40px;
    color: #000;
    text-decoration: none;
}

/* 전체 틀 */
.wrapper {
	/*  푸터 하단 고정 */
	padding-bottom: 25%;
	max-width : 1390px;
	margin: 0 auto;
	min-width : 1080px;
}

#course-container {
    width:100%;
    min-width: 1080px;
    min-height: auto;
    background-color: rgba(255,255,255,1);
    --web-view-name: coursepage;
    --web-view-id: coursepage;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
    position: relative;
}

.course-box {
    margin-top: 50px;
    line-height: 2.3rem;
    border-bottom: black 2px solid;
    padding: 20px 0;
    display:flex;
}


.course-box>nav {
	display:flex;
	width:30%;

}

/* 탭 메뉴 */
.tabMenu {
	width:100%;
	min-height: 800px;
	border-right:2px solid #aaa;
}

.tabMenu li {
	margin-top:10%;
}

.tabMenu li:first-child {
	margin:0;
} 

.tabMenu li a {
	color:#949494;
	font-size:20px;
}


.tabMenu li:nth-child(2) a, .tabMenu li a:hover {
	color:#000;
	font-weight:bold;
	font-size:22px;
}

.titleBox a {
	font-weight:bold;
	font-size:20px;
	margin-left:3%;
	color:#949494;
	
}

/* 개인정보 수정 */
.titleBox {
	margin-top:3%;
}

.titleBox a:last-child {
	color:#000;
}

.titleBox a:hover {
	color:#000;
	font-weight:bold;
}

.wholeExpbnBox {
	display:flex;
	margin-right:10%;
}

/* 버튼 */
.area {
	display:flex;	
}

.area a {
	border:1px solid #000;
	border-radius:30px;
	width:100px;
	background:#fff;
	color:#000;
	text-align:center;
	padding:1% 0;
	margin-left:2%;
	margin-top:3%;
	height:auto;
}

.area a:first-child,.area a:hover {
	background:#000;
	color:#fff;
}


.myPageBox {
	width:100%;
	height:auto;
	min-height:100%;
	margin-left:2%;
}

/* 추천 콘텐츠 */
.myPageBox h2 {
	font-size:28px;
	color:#000;
	margin-bottom:2%;
}

/* 선 */
.line {
	border:1px solid #000;
}

/* 추천 콘텐츠 박스 */
.wholeExpbnBox {
	display:flex;
	margin-right:10%;
}

/* 추천 콘텐츠 */
.contentsBox {
	display:flex;
	justify-content:space-between;
	margin-bottom:2%;
	align-items: center;
}

/* 콘텐츠 내용 */
.contents {
	display:flex;
	items-align:center;
}

/* 설정 버튼 */
.setting {
	display:flex;
	width:10%;
}


/* 전시회 코스 정보 */
.courseBox {
	margin:5% 5% 10%;
}

/* 이미지 */
.imageBox {
	width:180px;
	height:250px;
	overflow:hidden;
	display:flex;
	items-align:center;
}

.imageBox img {
	width:100%;
	height:100%;
	object-fit:cover;
}

.courseBox a {
	display:flex;
} 
/* 지역 */
.courseBox a:nth-child(2) {
	font-size:15px;
	color:#000;
	font-weight:bold;
	margin-top: 2%;
} 

/* 제목  */
.courseBox a:nth-child(3) {
	font-size:21px;
	color:#000;
	font-weight:bold;
} 

/* 날짜 */
.courseBox a:nth-child(4) {
	font-size:15px;
	color:#949494;
	font-weight:bold;
} 

