@charset "UTF-8";

/* myPageCheck.css */

/* 전체 틀 */
.wrapper {
	margin: 0 auto;
	width:1080px;
	/*  푸터 하단 고정 */
	height:auto;
	min-height: 100%;
	padding-bottom: 20%;
}

section {
	display:flex;
	justify-content:space-between;
	margin-top:10%;
	
}

section nav {
	display:flex;
	margin-right:10%;
	width:30%;
}



.tabMenu {
	width:100%;
}

.tabMenu li {
	margin-top:10%;
}

.tabMenu li a {
	color:#949494;
	font-size:20px;
}

.tabMenu li:first-child a {
	color:#000;
	text-align: left;
	font-weight:bold;
	font-size:24px;
	letter-spacing: 0px;
	opacity: 1;
}

.tabMenu li:nth-child(3) a, .tabMenu li a:hover {
	color:#000;
	font-weight:bold;
}


.myPageBox {
	width:100%;
	
}
/* 개인정보 확인 */
.myPageBox h2 {
	font-size:40px;
	color:#000;
	margin-bottom:2%;
}

/* 선 */
.line {
	border:1px solid #000;
}

/* 사용자 */
.userBox {
	margin:5% 0 3% 0;
	background:#F6F6F6;
	padding:5% 2%;
	width:100%;
}

/* 개인정보 확인 */
.userBox h2 {
	font-size:24px;
	font-weight:bold;
	text-align:left;
	margin-bottom:3%;
	text-align:center;
}


.myExhbn {
	margin:5% 0;
	width:100%;
	text-align:center;
	background:#F6F6F6;
}


/* select 박스 초기화 */
select {
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}


form {
	margin-top:20%;
}

input[type="text"], input[type="password"] {
	width:400px;
	font-size:15px;
	font-color:#000;
	margin:2% 0;
	padding:2% 0 2% 2%;
	border:none;
} 


input[type="password"] {
	background:rgb(232, 240, 254);
}

.loginBtn {
	width:400px;
	border:none;
	color:#fff;
	background:#000;
	border-radius:30px;
	padding:0.8% 0;
	font-size:15px;
	height:auto;
	line-height:auto;
	margin:3% 0;
}

.loginBtn:hover {
	color:#fff;
	background:#5fa8d3;
}


.searchBox {
	margin-bottom:3%;
}

.searchBox a {
	font-size:15px;
}


.input{
	position:ralative; 
	height:3.13 em;
	margin:0 auto;
	width:400px;
	
}


.inpuEventBox { 
	position:relative; 
	width:100%; 
	height:3.13em; 
	margin-top:40px;
	
} 

.inpuEventBox input { 
	box-sizing:border-box;
	background:#F6F6F6; 
	padding:20px 0 0; 
	width:100%; 
	height:100%; 
	border:0 none; 
	color:#595f63; 
	outline:none; 
}

.inpuEventBox label { 
	position:absolute; 
	left:0%; 
	bottom:0; 
	width:100%; 
	height:100%; 
	border-bottom:1px solid #000; 
	text-align:left; 
	pointer-events:none; 
	font-family: 'Jua', sans-serif;
}

.inpuEventBox label:after { 
	content:""; 
	position:absolute; 
	left:0;
	bottom:-1px; 
	width:0; 
	height:100%; 
	border-bottom:3px solid #5fa8d3; 
	transition:all .3s ease; 
} 

/* 파란색 가로줄 */
.inpuEventBox label span { 
	position:absolute; 
	left:0; 
	bottom:5px; 
	transition:all .3s ease; 
} 

.inpuEventBox input:focus + label span, .inpuEventBox input:valid + label span { 
	transform:translateY(-150%); 
	font-size:0.88em; 
	color:#5fa8d3; 
} 

/*  input에 글을 입력하고 포커스가 지나간 상태에서 제어하려면 valid 선택자를 써야한다. */
/* 포커스 될 때 label span(name)이 위로 올라감 */
.inpuEventBox input:focus + label::after, .inpuEventBox input:valid + label::after { 
	width:100%; 
	transform:translateX(0); 
} 


.myExhbn>form>h1 {
	margin-bottom:10%;
}

.myExhbn>form>h1>a {
	font-size : 40px;
	color : #000;
	text-decoration : none;
	font-weight : bold;
	
}


