@charset "UTF-8";

#courseDetail-wrap {
	height : 100%;
	min-width: 1080px;
	width: 100%;
}

/* header 부분 */

	#header-exhbnTitle ul> li {
		font-size : 15px;
		color : #fff;
	}
	#header-postTitle h1 {
		font-size : 42px;
		font-weight : bold;
		color : #fff;
	}
	#header-postDate ul> li {
		font-size : 15px;
		color : #fff;
	}
	.headerText{
		text-align : center;
		line-height : 60px;
		color : #fff;
	}
	.headerTextBox {
		padding-top : 5%;
		padding-bottom : 5%;

		background-position: 0% 100%;
		background-size: 100%;
		background-attachment:fixed;
		background-repeat: no-repeat;
		position: relative;
		background-blend-mode: multiply;
		background-color: rgba(0, 0, 0, 0.5);
	}

/* Course Menu*/
	#courseMenu {
		margin: 50px auto;
		width:1080px;
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	.toggle {
		margin-top : 0;
		margin-left : 11%;
		/* border : 2px red solid; */
		width : 50%;
		font-size : 22px;
		height : 100%;
	}
	#courseToggle {
		display: flex;
		justify-content: left;
		align-items: start;
		max-height: 50px;
	}

	#toggleText {
		margin-left : 20px;
		height : 2rem;
		line-height : 2rem;
		font-size : 1.2rem;
		font-weight : bold;
	}

	#editCourseBtn-box{
		width:100px;
		height: fit-content;
		padding: 20px;
		text-align: end;
	}

/* tag (조회버전) */
	.tag-box-view {
		margin: 20px 0;
		display: flex;
		padding:10px 0;
	}
	.tag-box-view h3 {
		font-weight: bold;
		display: inline-block;
		margin: auto 0;
		margin-right: 10px;
	}
	.tag-box-view ul {
		display: flex;
	}
	.tag-box-view ul li {
		height: 20px;
		line-height: 20px;
		font-size: 0.8rem;
		color: white;
		font-weight: 300;
		list-style: none;
		margin: 0 4px;
		border-radius: 20px;
		background: #000000;
		padding: 4px 16px 4px 16px;
	}
	#tagMain{
		font-weight : bold;
	}

/**  courseMain **/
#courseMain{
	width: 1080px;
	margin: 20px auto;
}

#courseMainBtn-Box {
	position: absolute;
	right: 0;
}

/* course timeline	*/
#course {
	width: 100%;
	height: 100%;
	min-height: 300px;
	display: flex;
	justify-content: space-between;
}

#timeline-container {
	width:60%;
	height: 100%;
	min-height:300px;
	overflow: visible;
}

#timeline-container #timeline-box {
	width:100%;
	border: 1px blue solid;
}

#timeline-container .timeline-course-container {
	width: 100%;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.route-row {
	display: flex;
	height: 84px;
	position: relative;
	justify-content: space-between;
}

.route-row .left-side {
	display: flex;
}

#startPoint, #endPoint {
	display: flex;
	height: 52px;
}

.route-row .line {
	position: absolute;
	width: 2px;
	left: 50px;
	z-index: 0;
	top:0;
	bottom: 0;
	transition:height .1s ease;
	background-color: #dedede;
}
.hiddenLine .line {
	opacity: 0;
}

.route-row .line.down {
	top:50%
}
.route-row .line.up {
	bottom:50%
}

.route-row .left {
	width:65px;
	min-height: 52px;
	max-height: 100px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.route-row .left .dot {
	position: absolute;
	left:51px;
	top:50%;
	transform: translate(-50%,-50%);
	width:12px;
	height: 12px;
	background-color: #000000;
	z-index: 3;
	border-radius: 50%;
}
.route-row .left .mainCourse-dot {
	background: black;
	position: absolute;
	left:29px;
	top:25%;
	/*tansform:translate(-50%,-50%);*/
	width:40px;
	height: 40px;
	border-radius: 50%;
	z-index: 3;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	color: white;
	border: 2px black solid;
}

.route-row .left .subCourse-dot {
	background: white;
	position: absolute;
	border: 2px black solid;
	left:29px;
	top:25%;
	width:40px;
	height: 40px;
	border-radius: 50%;
	z-index: 3;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	color: black;
}

.route-row .content.explain {
	height: 100%;
	align-items: center;
	justify-content: flex-start;
	display: flex;
	overflow: hidden;
	font-size: 0.8rem;
	font-weight: 700;
}
.route-row .content {
	height: 100%;
	max-width: 255px;
	align-items: center;
	text-align: left;
	display: flex;
	overflow: hidden;
	line-height: 1.5rem;
	margin:0 15px;
	flex: 1;
	justify-content: left;
}
.memo-box {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	color: rgba(0,0,0,0.4);
	margin-right: 30px;
}

.route-row .content .place-memo-input {
	border: none;
	border-radius: 5px;
	width: 99%;
	min-width: 100px;
	padding: 10px;
	text-align: left;
	font-size: 0.8rem;
	color: rgba(0,0,0,0.5);
}
.place-memo-input:focus {
	outline-color: springgreen;
	outline-width: thick;
}

.where {
	overflow: hidden;
}

.where-title {
	font-weight: bold;
	font-size: 1.0rem;
	margin: 2px 0;
	overflow: hidden;
}
.address {
	color: #5b5b5b;
	font-size: 0.7rem;
	overflow: hidden;
}

.siteAddress {
	font-size: 0.7rem;
	color: #5b5b5b;
}

#courseMap{
	justify-self: right;
	width: 35%;
	height: 50%;
	min-height: 400px;
	min-width: 500px;
	background-color : #eeeeee;
}

/* share */
	.share {
		width: 1080px;
		margin: 20px auto;
		text-align: right;
		display: flex;
		justify-content: space-between;
	}
	.share i {
		margin: 5px;
	}

#courseIcon{
	float :left;
	margin: 0 auto;
	height:100%;
	width :10%;
}

#courseDelete{
	float : right;
	margin: 0 auto;
	height:100%;
	width: 8%;
}

#courseEnd{
	width: 20px;
	height: 20px;
	margin:0 auto; 
	margin-top : 90px;
	border-radius:100px;
	background-color : #000;
}

/*courseText*/
#courseText{
	float :left;
	width : 40%;
	height : 100%;
	margin-left : 50px;
}

#exhibitionText {font-size:18px; font-weight : bold;}

#restaurantText {font-size:18px; font-weight : bold;}

#cafeText {font-size:18px; font-weight : bold;}

/* deleteCourse*/

.delete{
	position: absolute;
	width : 40px;
	height: 100%;
	align-items: center;
	right:0;
	display: flex;
	opacity: 0;
 }

.moveHandler {
	margin-left: 0;
	display: flex;
	align-items: center;
}
.moveHandler {
	opacity: 0;
}

.route-row:hover .delete{
	opacity: 0.7;
}

.route-row:hover .moveHandler {
	opacity: 0.7;
}

#deleteRes{
	width : 40px;
	height: 40px;
	text-align : center;
	margin-top :123px;
}

#deleteCafe{
	width : 40px;
	height: 40px;
	text-align : center;
	margin-top :113px;
}

/* search */
#searchMap-container {
	width: 1080px;
	margin:0 auto;
}

#searchCourse{
	height : 150px;
}

#searchCourse ul > li {
	font-size : 25px;
	font-weight : bold;
}

#courseSearch{
	margin-top : 30px;
	border-radius:10px;
	height : 40px;
	width : 50%;
    min-width: 300px;
    padding: 4px 16px;
    border: 2px black solid;
}

#CourseSearchBtn{
	margin-left : 20px;
	height: 52px;
	width : 80px;
}

#CourseSearchBtn {
    appearance: none;
    background-color: #000;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: normal;
    min-height: 0;
    min-width: 0;
    outline: none;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
#CourseSearchBtn:disabled {
    pointer-events: none;
}
#CourseSearchBtn:hover {
    color: #1a1a1a;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
#CourseSearchBtn:active {
    box-shadow: none;
    transform: translateY(0);
}

/**recommendCourse**/
#recommendCourse{
	width : 100%;
	height : 350px;
	margin-bottom : 50px;
	display: flex;
	justify-content: space-around;
}

.courseAdd {
	width : 24%;
	height : 90%;
	background-color : #eeeeee;
} 

.courseAddBtn{
	margin-top : 78%;
	text-align : center;
	width : 98%;
}

.back {
	position: absolute;
	width: 50px;
	left:0;
}

.back i {
	cursor: pointer;
}

.back i:hover {
	cursor: pointer;
	color: #5b5b5b;
}

/*  comment */
#comment {
	width: 1080px;
	margin: 30px auto;
	border-top: 2px solid black;
}
.comment-write {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: end;
	resize: none;
}
#postCommentBtn {
	width:100px;
	height: 40px;
	margin:5px 0px;
}

/* 수정모드 input */
.editInput {
	text-align: center;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 12px;
	vertical-align: baseline;
	font-weight: 400;
	line-height: 1.29;
	letter-spacing: .16px;
	border-radius: 0;
	outline: 2px solid transparent;
	outline-offset: -2px;
	border: none;
	border-bottom: 1px solid #8d8d8d;
	background-color: transparent;
	padding: 0 16px;
	transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
}
.editInput:focus{
	border-bottom: dotted 2px #ffffff;
	outline-offset: -2px;
}

#exhbnTitle {
	width: 300px;
}
#courseTitle {
	width: 600px;
}

/* 디테일 */
.headerTextBox .editInput {
	text-align: center;
	min-width: 200px;
	max-width: 60%;
	color: #ffffff;
	height: fit-content;
	padding: 5px;
}

.headerTextBox .post-title {
	font-size: 2.0rem;
	font-weight: 400;
}

/* 자동완성 위치 */
#courseDetailEdit #ui-id-1 {
	left:-1000px;
	max-width: 200px;
}
#ui-id-1 li {
	padding:10px 20px;
	height: 30px;
	text-align: left;
	background-color: white;
}
#ui-id-1 li:hover {
	background-color: black;
	color: white;
}
#ui-id-1 li:focus {
	background-color: black;
	color: white;
}

/** 팝업 레이어  */
.pop-layer {
	/*display: none;*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*width: 410px;*/
	/*height: auto;*/
	background-color: #fff;
	/*border: 5px solid #3571B5;*/
	overflow-y: scroll;
	z-index: 500;
	display: none;
	position: fixed;
	left: 70%;
	top: 50%;
	width: 500px;
	border: 10px solid #dceff7;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}

.pop-layer .pop-container {
	padding: 20px 25px;
}

.pop-layer p.ctxt {
	color: #666;
	line-height: 25px;
}

.pop-layer .btn-r {
	width: 100%;
	margin: 10px 0 20px;
	padding-top: 10px;
	border-top: 1px solid #DDD;
	text-align: right;
}

.dim-layer {
	display: none;
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.dim-layer .dimBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
	display: block;
}

a.btn-layerClose {
	display: inline-block;
	height: 25px;
	padding: 0 14px 0;
	border: 1px solid #304a8a;
	background-color: #3f5a9d;
	font-size: 13px;
	color: #fff;
	line-height: 25px;
}

a.btn-layerClose:hover {
	border: 1px solid #091940;
	background-color: #1f326a;
	color: #fff;
}


/** .팝업 레이어 */

/** 조회수, 코멘트 등 */
.post-react-box {
	display: flex;
}
.post-react-box span {
	margin-right: 20px;
}