body {
    margin: 0;
    padding: 0;
}

.fa-heart{
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    width:1080px;
}

.fa-solid {
    padding-right: 5px;
}

.search_box {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 2px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
}

.search_bar {
    width: 93%;
    border: none;
    -webkit-appearance: none;
    text-align: left;
    margin-left: 10px;
    overflow: auto;
    font-size: 15px;
}

.search_bar:focus {
    outline: none;
    width: 93%;
    text-align: left;
}

.search_btn {
    cursor: pointer;
}

.filter_box {
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
}

.filter_box ul {
    margin: auto;
    padding: 0;
    float:left;
}

.filter_box li {

    list-style:none;
    float:left;
    padding-right:10px;
    cursor:pointer;
}

.filter-active{
    color:blue;
    font-weight:bold;
}

.filter_box li:hover {
    color:blue;
    font-weight:bold;
}

.write_box {
    margin-left: 79%;
}

.write_btn {
    width: 110px; height: 40px;
    background: #1c1c1c;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.write_btn:hover {
    background: #5b5b5b;
}

.list_box {
    display: block;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.scrap {
    width: 10%;
    text-align: center;
}

.summary {
    width: 90%;
    text-align: left;
}

.like {
    padding-bottom: 5px;
}

.title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.title a {
    color: black;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
}

.preview {
    color: gray;
    padding-bottom: 10px;
}

.info {
    display: flex;
}

.nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.nav_btn {
    text-align: center;
    padding: 8px 15px 8px 15px;
    margin-right: -1px;
    border: 1.5px solid gray;
    cursor: pointer;
}

.nav_active {
    background-color: gray;
    color: white;
}

.nav_btn:hover {
    background-color: gray;
    color: white;
}

#slideShow {
    position:relative;
    display: flex;
    justify-content: center;
    background-color:#ffffff;
    height:380px;
    line-height:380px;
    margin-top:30px;
    margin-bottom:30px;
}

#slideShowBox {
    width:1000px;
    height:380px;
    text-align:center;
    overflow:hidden;
}

#slidePanel {
    position:relative;
    width:5000px;
    height:380px;
}

.slideImage {
    float:left;
    width:1000px;
    height:380px;
}
